
{{!-- <div class="tarjeta tarjeta-carreras" style="opacity: 0;">
    <div class="separador">&nbsp; <h2 class="pos"></h2>
    </div>
    <div class="separador1">&nbsp;<h2 class="numPos"></h2>
    </div>
    <div class="logo"><img src="{{escudo}}" alt=""></img></div>
    <div class="info">
        <div class="container-puntos">
            {{> flags}}

        </div>
    </div>
</div>
</div>  --}}



<div class="tarjeta tarjeta-carreras" style="opacity: 0;">
    <div class="separador">&nbsp; <h2 class="pos">&nbsp;</h2>
    </div>
    <div class="separador1">&nbsp;<h2 class="numPos">&nbsp;</h2>
    </div>
    <div class="logo"><img src="{{escudo}}" alt=""></img></div>
    <div class="info">
        <div class="puntoseq">{{puntos}} <span class="pts2"></span></div>
        <div class="container-puntos">
            {{> flags}}
        </div>
    </div>
</div>
</div>