<div class="flags">
    <img src="./images/BanderaBarein.svg" width="50px" alt="">
    <img src="./images/BanderaArabiaSaudi.svg" width="50px" alt="">
    <img src="./images/BanderaAustralia.svg" width="50px" alt="">
    <img src="./images/BanderaAzerbaiyan.svg" width="50px" alt="">
    <img src="./images/BanderaEstadosUnidos.svg" width="50px" alt="">
    <img src="./images/BanderaItalia.svg" width="50px" alt="">
    <img src="./images/BanderaMonaco.svg" width="50px" alt="">
    <img src="./images/BanderaEspana.svg" width="50px" alt="">
    <img src="./images/BanderaCanada.svg" width="50px" alt="">
    <img src="./images/BanderaAustria.svg" width="50px" alt="">
    <img src="./images/BanderaReinoUnido.svg" width="50px" alt="">
    <img src="./images/BanderaHungria.svg" width="50px" alt="">
    <img src="./images/BanderaBelgica.svg" width="50px" alt="">
    <img src="./images/BanderaAlemania.svg" width="50px" alt="">
    <img src="./images/BanderaItalia.svg" width="50px" alt="">
    <img src="./images/banderasingapur.svg" width="50px" alt="">
    <img src="./images/BanderaJapon.svg" width="50px" alt="">
    <img src="./images/BanderaCatar.svg" width="50px" alt="">
    <img src="./images/BanderaEstadosUnidos.svg" width="50px" alt="">
    <img src="./images/BanderaMexico.svg" width="50px" alt="">
    <img src="./images/BanderaBrasil.svg" width="50px" alt="">
    <img src="./images/BanderaEstadosUnidos.svg" width="50px" alt="">
    <img src="./images/BanderaEmiratosArabesUnidos.svg" width="50px" alt="">

</div>