<footer class="piePagina">
    <div class="foot1">
        <h2>Social Media</h2>
        <p>Texto para redes sociales footer</p>
    </div>

    <div class="footLogoF1">
        {{!-- <h2>Brands</h2>
        <p>Texto para logos footer</p> --}}
        <img src="https://www.linkpicture.com/q/F1.svg" alt="">
    </div>

    <div class="foot3">
        <h2>Contact</h2>
        <p>Texto para contacto footer</p> 

    </div>

</footer>
    <div class="cierre">
        <p>Bootcamp TalentoDigital 2023</p>
    </div>