<footer class="piePagina">
    <div class="foot1">
        <h2>Redes sociales</h2>
        <p> ¡Conéctate con nosotros en las redes sociales! Encuéntranos en Instagram, Facebook y Twitter.</p>
        <a href="https://www.instagram.com/f1/" target="_blank"><img class="rrss" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png" width="25px" alt=""></a>
        <a href="https://www.twitter.com/f1/" target="_blank"><img class="rrss" src="https://cdn-icons-png.flaticon.com/512/60/60580.png" width="25px" alt=""></a>
        <a href="https://www.facebook.com/Formula1" target="_blank"><img class="rrss" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-1024.png" width="25px" alt=""></a>
        {{!-- <p>Texto para redes sociales footer</p> --}}
    </div>

    <div class="footLogoF1">
        <img src="https://www.linkpicture.com/q/F1.svg" alt="">
    </div>

    <div class="foot3">
        <h2>La Marca F1® </h2>
        <p> Para consultas sobre oportunidades de licencias, comuníquese con Fórmula 1 por correo electrónico a <a href="mailto:trademarks@f1.com"> trademarks@f1.com</a></p>

    </div>

</footer>
<div class="cierre">
    <p>Bootcamp TalentoDigital 2023</p>
</div>