<footer>
    <div class="foot left">
        <h2>Social Media</h2>
    </div>

    <div class="foot mid">
        <h2>Brands</h2>
        <div class="logos">
            <img src="./ alfaromeo.svg" alt="">
        </div>

    </div>

    <div class="foot right">
        <h2>Contact</h2>

    </div>
</footer>