<footer class="piePagina">
    <div class="foot1">
        <h2>Social Media</h2>
        <img class="rrss" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png" width="25px" alt="">
        <img class="rrss" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-1024.png" width="25px" alt="">
        {{!-- <p>Texto para redes sociales footer</p> --}}
    </div>

    <div class="footLogoF1">
        <img src="https://www.linkpicture.com/q/F1.svg" alt="">
    </div>

    <div class="foot3">
        <h2>The F1® Brand</h2>
        <p> For queries about licensing opportunities, whether your activities are an infringement of our rights or to
            report suspected counterfeit products, please contact Formula 1 by email at trademarks@f1.com.</p>

    </div>

</footer>
<div class="cierre">
    <p>Bootcamp TalentoDigital 2023</p>
</div>