<header>
    <nav class="menuHead">
        <div class="botones">
            <button class="btn btn-outline-danger"><a href="/">Home</a></button>
            <button class="btn btn-outline-danger"><a href="mantenedor">Pits</a></button>
            <img class="logoHead" src="https://www.linkpicture.com/q/F1.svg" alt="">
            <button class="btn btn-outline-danger"><a href="drivers">Drivers</a></button>
            <button class="btn btn-outline-danger"><a href="races">Races</a></button>
        </div>


    </nav>
    <div class="headLogoF1">
        {{!-- <img src="https://www.linkpicture.com/q/F1.svg" alt=""> --}}

    </div>
</header>