<header>
    <nav>
        <button class="btn btn-outline-danger"><a href="/">Race</a></button>
        <button class="btn btn-outline-danger"><a href="mantenedor">Pits</a></button>
        <button class="btn btn-outline-danger"><a href="drivers">Drivers</a></button>
        <button class="btn btn-outline-danger"><a href="races">Races</a></button>
    </nav>
</header>