@import url(style.css);
@import url(formulario.css);

<<<<<<< HEAD
.container-exterior-drivers {
    display: flex;
    flex-wrap: wrap;
=======
/* .container-exterior-drivers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
>>>>>>> cfcd0ba353cdc48fe61fef7376720540a7101fc0
    gap:35px;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    margin-left: 4vw;
    margin-bottom: 3vw;
} */
.container-exterior-drivers {
    display: flex;
    flex-wrap: wrap;
    gap:35px;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
    margin-left: 4vw;
    margin-bottom: 3vw;
}
@keyframes flexanimation { 
    100% { 
      flex-grow: 5; 
    }
  }
.card-container{
    display: flex;
    flex-direction: column;
    max-width: 240px;
    min-width: 240px;
    min-height: 380px;
    max-height: 380px;
    align-items: center;
    text-align: center; 
    border: 3px solid rgba(255, 0, 0, 0.473);
    border-top-left-radius: 25px;
    padding-top: 10px;
    opacity: 0%;
    transition: 500ms;
    animation: flexanimation 1s ease-out 1s infinite alternate backwards; 
}

.dcard-tit{
    font-family: f1bold;
    max-width: 160px;
}

.dlogo img{
    max-height: 100px;
}

.dcard-contpts{
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    margin: 0;
}

.dcard-pts{
    font-family: f1bold;
    color: red;
    font-size: 75px;
}

.dcard-contpts{
    display: flex;
    gap: 9px;
}

.dcard-contpts h4{
    font-family: f1bold;
    padding-top: 10px;
    color: var(--f1Red);
}

.dcard-foot{
    font-family: titiBold;
    display: flex;
    flex-direction: column;
}

.dcard-foot h5{
    padding-top: 7px;
}

.dcard-foot h3{
    background-color: red;
    color: aliceblue;
}