@import url(formulario.css);
@import url(drivers.css);

@font-face {
    font-family: "f1bold";
    src: url(../fonts/Formula1-Bold_web_0.ttf) format("truetype");
}

@font-face {
    font-family: "f1regular";
    src: url(../fonts/Formula1-Regular_web_0.ttf) format("truetype");
}

@font-face {
    font-family: "f1wide";
    src: url(../fonts/Formula1-Wide_web_0.ttf) format("truetype");
}

@font-face {
    font-family: "titiLight";
    src: url(../fonts/TitilliumWeb-Light.ttf) format("truetype");
}

@font-face {
    font-family: "titiBold";
    src: url(../fonts/TitilliumWeb-Bold.ttf) format("truetype");
}

:root {
    --f1Red: RGB(229, 27, 0);
    --f1Dark: RGB(21, 21, 29);
    --f1Light: rgb(233, 233, 233);
    --f1Gray: rgb(77, 77, 77);
}

/* .tarjeta >div{
    display: flex;
    justify-content:start;
    gap: 0px;
    border: 1px solid black;
} */
/* .info :nth-child(n) { */

.info {
    display: flex;
    justify-content: space-evenly;
    font-family: titibold;
    color: var(--f1Dark);
    gap: 30px;
}
.tarjetaMula{
    display: none;
}
.info :nth-child(n){
    padding-left: 20px;
    min-width: 130px;
    /* border: 1px solid red; */
}

.tarjeta {

    display: flex;
    justify-content: left;
    gap: 0px;
    border: 1px solid black;
    margin-top: 3px;
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgb(216, 216, 216) 100%);
    transition: 800ms;

}

.tarjeta img {
    max-width: 100px;
}

.separador1 {
    min-width: 60px;
    max-width: 60px;
    background-color: var(--f1Red);
}

.separador {
    background-color: var(--f1Dark);
    /* background: linear-gradient(0deg, rgba(233,233,233,1) 0%, rgb(98, 98, 98) 80%); */
}

.tablaPosiciones {
    background-color: var(--f1Dark);
    font-family: titibold;
    color: var(--f1Light);
    padding-left: 50px;
    margin-bottom: 5px;
    border-top: 3px solid var(--f1Gray);
    border-bottom: 3px solid var(--f1Red);

}

.pos {
    color: var(--f1Gray);
    font-size: 20px;
    font-family: f1bold;
    padding-left: 7px;
    padding-right: 7px;
    /* margin-left: 20px; */
}

.numPos {
    font-size: 20px;
    font-family: f1regular;
    color: var(--f1Light);
    padding-left: 7px;
    padding-right: 7px;
}

.footLogoF1{
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(349deg) brightness(106%) contrast(108%);
}
.footLogoF1 img{
    min-width: 250px;
    padding: 20px;
}

.foot1{
    padding: 20px;
    color:var(--f1Light)
}
.foot3{
    /* border: 1px solid wheat; */
    padding: 20px;
    color:var(--f1Light)
}

.cierre{
    background-color: var(--f1Dark);
    color: var(--f1Light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.piePagina {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: titiLight;
    color: var(--f1Light);
    background-color: var(--f1Red);
    gap: 10px;
}
/* .footers{
    display: flex;
    justify-content: ;
} */


a,
a:visited {
    text-decoration: none;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
}

nav {
    display: flex;
    align-items: center;
    min-height: 70px;
    padding-left: 30px;
    gap:25px;
    background-color: #15151e;
}

.btn-outline-danger {
    /* background-color: rgb(201, 36, 36) !important; */
    max-height: 40px;
    --bs-btn-border-color: var(--f1Red) !important;
    --bs-btn-hover-bg: var(--f1Red)  !important;
}



.btn-danger:hover {
    transform: scale(105%);
}

.card {
    border: 5px solid black;
    max-width: 300px;
}

.container-externo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px
}

.formulario {
    border: 1px solid black;
}

.race-piloto{
    font-family: f1wide;
    font-size: 25px;
    margin-left: 2vw;
    margin-top: 4px;
}

.race-puntos{
    font-family: f1bold;
    
    font-size: 38px;
    font-weight: bolder;
    color: var(--f1Red);
    margin-top: 3px;
}

.pts{
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    margin-left: 4px;
    margin-bottom: 15px;
}

.race-escu{
    margin-left: 2vw;
    margin-top: 0;
    font-size: 14px;
}

.race-info{
    display: grid;
    gap: 25px;
    grid-template-columns: 550px 200px 200px
}

.race-tiempo{
    font-family: f1regular;
    font-size: 25px;
    padding-top: 10px;
    margin: 0;
}

