@import url(formulario.css);
@import url(drivers.css);

@font-face {
    font-family: "f1bold";
    src: url(../fonts/Formula1-Bold_web_0.ttf) format("truetype");
}

@font-face {
    font-family: "f1regular";
    src: url(../fonts/Formula1-Regular_web_0.ttf) format("truetype");
}

@font-face {
    font-family: "f1wide";
    src: url(../fonts/Formula1-Wide_web_0.ttf) format("truetype");
}

@font-face {
    font-family: "titiLight";
    src: url(../fonts/TitilliumWeb-Light.ttf) format("truetype");
}

@font-face {
    font-family: "titiBold";
    src: url(../fonts/TitilliumWeb-Bold.ttf) format("truetype");
}

:root {
    --f1Red: RGB(238,0,0);
    --f1Dark: RGB(21, 21, 29);
    --f1Light: rgb(233, 233, 233);
    --f1Gray: rgb(77, 77, 77);


}

/* .tarjeta >div{
    display: flex;
    justify-content:start;
    gap: 0px;
    border: 1px solid black;
} */
/* .info :nth-child(n) { */

/* html{
        width: 160%;
    } */
.info {
    display: flex;
    justify-content: space-evenly;
    font-family: titibold;
    color: var(--f1Dark);
    gap: 30px;
}

.tarjetaMula {
    display: none;
}

.info :nth-child(n) {
    /* padding-left: 20px; */
    /* border: 1px solid red; */
}

.tarjeta {
    display: flex;
    justify-content: start;
    gap: 0px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 3px;
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgb(216, 216, 216) 100%);
    transition: 800ms;
}

.tarjeta-carreras {
    display: flex;
    justify-content: start;
    gap: 0px;
    border: 1px solid black;
    margin-top: 3px;
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgb(216, 216, 216) 100%);
    transition: 800ms;

}
.tarjetaBanderas {
    display: flex;
    justify-content: start;
    gap: 0px;
    border: 1px solid black;
    margin-top: 3px;
    background: linear-gradient(90deg, rgba(244, 244, 244, 1) 0%, rgb(216, 216, 216) 100%);
    transition: 800ms;

}

.puntoseq {
    color: var(--f1Red);
    font-family: f1bold;
    font-size: 30px;
    min-width: 120px;
    max-width: 120px;
    text-align: right;
}

.puntoeql{
    min-width: 10px;
    max-width: 10px;
}

.container-puntos {
    display: flex;
    flex-direction: row;
    /* overflow:auto; */
    flex: 1;
    gap: 30px;
}

.flags{
    display: flex;
    justify-content: baseline;
    flex-direction: row;
    overflow: auto;
    flex: 1;
    gap: 9.5px;
    padding-left: 100px;
    
}

/* .container-puntos {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    margin-left: 3.3vw;
} */

.tarjeta img {
    max-width: 100px;
}

.separador1 {
    min-width: 100px;
    max-width: 120px;
    background-color: var(--f1Red);
}

.separador {
    min-width: 100px;
    max-width: 120px;
    background-color: var(--f1Dark);
}


.menuHead {
    background-color: var(--f1Dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.menuHead .botones {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.logoHead {
    padding-left: 30px;
    padding-right: 30px;
}

.headLogoF1 {
    display: flex;
    align-items: end;
}

.tablaHeader {
    display: flex;
    justify-content: center;
}

.tablaPosiciones {
    background-color: var(--f1Dark);
    font-family: titibold;
    color: var(--f1Light);
    min-width: 100%;
    text-align: center;
    /* padding-left: 50px;
    margin-bottom: 5px; */
    border-top: 3px solid var(--f1Gray);
    border-bottom: 3px solid var(--f1Red);

}

.pos {
    color: var(--f1Gray);
    font-size: 20px;
    font-family: f1bold;
    padding-left: 7px;
    padding-right: 7px;
    /* margin-left: 20px; */
}

.numPos {
    font-size: 20px;
    font-family: f1regular;
    color: var(--f1Light);
    padding-left: 7px;
    padding-right: 7px;
}

.footLogoF1 {
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(349deg) brightness(106%) contrast(108%);
}

.footLogoF1 img {
    min-width: 250px;
    padding: 20px;
}

.foot1 {
    text-align: center;
    max-width: 250px;
    padding: 20px;
    color: var(--f1Light)
}

.rrss {
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(349deg) brightness(106%) contrast(108%);

}

.foot3 {
    /* border: 1px solid wheat; */
    text-align: center;
    max-width: 250px;
    padding: 20px;
    color: var(--f1Light)
}

.cierre {
    background-color: var(--f1Dark);
    color: var(--f1Light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.piePagina {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: titiLight;
    color: var(--f1Light);
    background-color: var(--f1Red);
    gap: 10px;
}

a,
a:visited {
    text-decoration: none;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
}

nav {
    font-family: titibold;
    font-style: italic !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    padding-left: 30px;
    gap: 25px;
    background-color: #15151e;
}

.btn-outline-danger {
    max-height: 40px;
    --bs-btn-border-color: var(--f1Gray) !important;
    --bs-btn-hover-bg: var(--f1Red) !important;
    /* font-style: italic !important; */
    text-decoration: none;
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    transition: all 500ms;
    padding-left: 7px;
    padding-right: 7px;

}

/* .btn-outline-danger :hover{
    transition: all 500ms;
} */

.btn-danger:hover {
    transform: scale(105%);
}

.card {
    border: 5px solid black;
    max-width: 300px;
}

.container-externo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px
}

.formulario {
    border: 1px solid black;
}

.race-piloto {
    font-family: f1bold;
    font-style: italic;
    font-size: 35px;
    margin-left: 2vw;
    margin-top: 4px;
}

.race-puntos {
    font-family: f1bold;
    font-size: 38px;
    font-weight: bolder;
    color: var(--f1Red);
    margin-top: 3px;
}

.pts {
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    margin-left: 4px;
    margin-bottom: 15px;
}

.pts2 {
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 0 !important;
}

.race-escu {
    margin-left: 2vw;
    margin-top: 0;
    font-size: 14px;
}

.race-info {
    display: grid;
    gap: 25px;
    grid-template-columns: 550px 200px 200px
}

.race-tiempo {
    font-family: f1regular;
    font-size: 25px;
    padding-top: 10px;
    margin: 0;
}

.cont-listacarreras {
    display: flex;
    flex-direction: row;
    background-color: #15151D;
    border-bottom: 3px solid var(--f1Red);
    border-top: 3px solid var(--f1Gray);
    justify-content: space-between;
}

.form-race {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    margin-right: 70px;

}

.form-select2 {
    font-family: f1regular;
    background-color: #15151ee3;
    color: aliceblue;
}

.tablaPosiciones2 {
    background-color: var(--f1Dark);
    font-family: titibold;
    color: var(--f1Light);
    padding-left: 50px;
    margin-bottom: 5px;
}

.e404 {

    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: f1bold;
    margin: 3vw 0;
}

.txt404 {
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}