{{#> layout}}


<div class="e404">
    <h2>404 CRASH</h2>
    <h5>{{mensaje}}</h5>
<img src="https://www.catamarcactual.com.ar/u/fotografias/m/2015/6/17/f800x450-59600_111046_5050.jpg" alt="" width="600px">
</div>



{{/layout}}