{{#> layout}}


<div class="e404">
    <div class="txt404">
        <h2>404 CRASH</h2>
        <h5>{{mensaje}}</h5>
    </div>
    <img src="./images/vidal.png" alt="" width="600px">
</div>

{{/layout}}