{{#> layout}}
    <h1 class="tablaPosiciones">Lista de Pilotos</h1>

    <div class="container-exterior-drivers">
        {{#each pilotos}}
            {{> carddrivers}}
        {{/each}} 
    </div>


{{/layout}}