{{#> layout}}
    <main>
        
        <div class="cont-ext-form">
            <!-- TITULO -->
            <h1 class="tituloform"><span class="highlight-text">F</span>ormular<span class="highlight-text">1</span>o</h1>
            <h5 class="subtituloform">Ingrese los datos de las carreras</h5>

            <!-- FORMULARIO -->
            <div class="cont-int-form col-7">
                <div class="mb-3 col-11">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3 col-11">
                    <label for="exampleFormControlTextarea1" class="form-label">Email address</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </main>
{{/layout}}