{{#> layout}}
    <h1 class="tablaPosiciones">Tabla de Carreras</h1>

    <!-- Se crea la primera card aparte para que este tenga el formato de tiempo correcto -->
    {{#each carrera}}
        {{>cardraces}}
    {{/each}}

{{/layout}}